/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero__info {
  margin: 2rem 0;
  font-size: 1.1rem;
}

.hero__info strong {
  color: var(--ifm-color-primary-lightest);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .hero__info {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
